<!DOCTYPE html>
<html lang="sw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>betting system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .active {
            color: yellow !important;
            background:light
        }
    </style>
</head>
<body class="bg-light">
    <nav class="navbar bg-dark navbar-dark navbar-expand-lg sticky-top">
        <div class="container-fluid p-2">
                <div class='navbar-brand fw-bold text-danger'>ADMIN DASHBOARD</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#waka">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="waka">
                <div class="navbar-nav ms-auto ">
                <a class="nav-link  ms-2 fw-bold {% if request.path=='/andika'%}active{%endif%} " href="/andika">JAZA MECHI</a>
                <a class="nav-link  ms-2 fw-bold {% if request.path=='/adminuser' %}active{% endif %}" href="/adminuser">ANGALIA MECHI</a>
                <a class="nav-link  ms-2 fw-bold {% if request.path=='/users'%}active{% endif %}" href="/users">WALIOJISAJILI</a>
                <a class="nav-link  ms-2 rounded  fw-bold {% if request.path=='/'%}active{%endif%}" href="/">RUDI KWA USERS</a>
                </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </nav>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block content %}
    {% endblock %}
</body>
