{% extends "admin1base.html" %}
{% block content %}
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <p>KARIBU HAPA ADMIN </p>
                <p>Katika huu ukurasa unaweza kufanya mambo mbalimbali kama kufanya updates na
                    vingine vingi kama kuandika taarifa mbalimbali za nmechi na kufanya updates muhimu kwa ajili ya hii website
                </p>
            </div>
        </div>
    </div>
</body>
{% endblock %}